/* About */

#about {
    display: flex;
    flex-direction: row;
    margin: 1% 5%;
    border: 1px solid black;
    background-color: #e8e8e8;
    padding: 2px;
}

#profilePic {
    height: 300x;
    width: 200px;
    border: 1px solid black;
    padding: 2px;
}

#profile {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 2px;
}

#description {
    margin: 1%;
}

#description > h2 {
    font-size: 50px;
    margin: 0 auto;
}

#description > p {
    font-size: 24px;
}

#links {
    display: flex;
    flex-direction: column;
}

#links > a {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    margin: 5px;
}

#links > a > fa-icon {
    color: black;
}


@media only screen and (max-width: 640px){
    #about {
        flex-direction: column;
    }

    #description > h2 {
        text-align: center;
    }
}
