<div id="skills">
    <h2>Programming</h2>
    <ul>
        <li *ngFor="let skill of skills.programming">
            {{ skill }}
        </li>
    </ul>
    <h2>Web Development</h2>
    <ul>
        <li *ngFor="let skill of skills.development">
            {{ skill }}
        </li>
    </ul>
    <h2>Basic Skills</h2>
    <ul>
        <li *ngFor="let skill of skills.basics">
            {{ skill }}
        </li>
    </ul>
    <h2>Languages</h2>
    <ul>
        <li *ngFor="let skill of skills.languages">
            {{ skill }}
        </li>
    </ul>
</div>