<div>
    <h2 id="work">My work</h2>
    <div id="portfolio">
        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <img class="screenshot" src="./portfolio screenshots/weather forecast 2.PNG">
                </div>
                <div class="card-back">
                    <h3 class="project-name">Weather <br class="br"> Forecast</h3>
                    <ul class="tech-list">
                        <li>HTML (JSX)</li>
                        <li>CSS</li>
                        <li>Javascript</li>
                        <li>React</li>
                    </ul>
                        <button onclick="window.location.href='https://marko-zc.github.io/Weather-Forecast/'"><span>Check it out </span></button>
                </div>
            </div>

        </div>
        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <img class="screenshot" src="./portfolio screenshots/chat app.PNG">
                </div>
                <div class="card-back">
                    <h3 class="project-name">Chat</h3>
                    <ul class="tech-list">
                        <li>HTML (JSX)</li>
                        <li>CSS</li>
                        <li>Javascript</li>
                        <li>React</li>
                    </ul>
                        <button onclick="window.location.href='https://marko-zc.github.io/Chat/'"><span>Check it out </span></button>
                </div>
            </div>

        </div>
        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <img class="screenshot" src="./portfolio screenshots/todo.PNG">
                </div>
                <div class="card-back">
                    <h3 class="project-name">To-Do List</h3>
                    <ul class="tech-list">
                        <li>HTML (JSX)</li>
                        <li>CSS</li>
                        <li>Javascript</li>
                        <li>React</li>
                    </ul>
                        <button onclick="window.location.href='https://marko-zc.github.io/React-ToDo/'"><span>Check it out </span></button>
                </div>
            </div>

        </div>
        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <img class="screenshot" src="./portfolio screenshots/calculator.PNG">
                </div>
                <div class="card-back">
                    <h3 class="project-name">Calculator</h3>
                    <ul class="tech-list">
                        <li>HTML (JSX)</li>
                        <li>CSS</li>
                        <li>Javascript</li>
                        <li>React</li>
                    </ul>
                        <button onclick="window.location.href='https://marko-zc.github.io/Simple-Calculator/'"><span>Check it out </span></button>
                </div>
            </div>

        </div>
        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <img class="screenshot" src="./portfolio screenshots/stopwatch.PNG">
                </div>
                <div class="card-back">
                    <h3 class="project-name">Stopwatch</h3>
                    <ul class="tech-list">
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>Javascript</li>
                    </ul>
                        <button onclick="window.location.href='https://marko-zc.github.io/Stopwatch/'"><span>Check it out </span></button>
                </div>
            </div>

        </div>
        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <img class="screenshot" src="./portfolio screenshots/rgb color game.PNG">
                </div>
                <div class="card-back">
                    <h3 class="project-name">RGB <br class="br"> Color Game</h3>
                    <ul class="tech-list">
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>Javascript</li>
                    </ul>
                        <button onclick="window.location.href='https://marko-zc.github.io/The-Great-RGB-Color-Game/'"><span>Check it out </span></button>
                </div>
            </div>
        </div>
    </div>
</div>